<div class="container">
    <div class="row">
        <div class="col">
            <button mat-flat-button color="primary" class="add-button">Cadastrar novo gerente</button>

            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>

        </div>
        
        <div class="col">
            <button mat-flat-button color="primary" class="add-button">Cadastrar novo funcionário</button>


            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
            <div class="row">a</div>
        </div>
    </div>
</div>